<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% if page.title %}
    {% assign page-title = page.title | escape %}
    {% else %}
    {% assign page-title = site.title | escape %}
    {% endif %}

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% include site-header.html %}

    {% if page.layout == 'home' %}
    {% assign page-tagline = site.description | default: site.github.project_tagline | escape %}
    {% endif %}
    {% if page.layout == 'post' %}
    {% assign page-tagline = page.tagline | escape  %}
    {% endif %}

    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page-title }}</h1>
      <h2 class="project-tagline">{{ page-tagline }}</h2>
      {% if page.layout == 'home' and site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% if site.show_downloads %}
        <a href="{{ site.author.cv_link }}" class="btn">Curriculum Vitae</a>
        {% endif %}
      {% endif %}
      {% if page.layout == 'post' %}
        <h2 class="project-date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          • {{ page.duration | default: 10 }} minute read
        </h2>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">

      {{ content }}

      {% include footer.html %}

    </main>
  </body>
</html>
